body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

/* Util */
.clickable {
  cursor: pointer;
}

.clickable:last-child {
  cursor: default;
}

/* Bootstrap modifications */
.page-link:focus {
  box-shadow: none;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.table td:last-child {
  text-align: center;
}
