body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

/* Util */
.clickable {
  cursor: pointer;
}

.clickable:last-child {
  cursor: default;
}

/* Forms */

.form-container {
  max-width: 540px;
  margin: 0 auto;
}

.form-container h1 {
  text-align: center;
}

.submit-btn--container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  width: 25%;
}

/* Bootstrap modifications */
.page-link:focus {
  box-shadow: none;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

/* Media */
@media only screen and (max-width: 992px) {
  .btn-logout {
    align-self: center;
    width: 200px;
  }

  .navbar-nav {
    align-items: center;
    /* margin-bottom: 1rem; */
  }
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .list-group {
    margin-bottom: 1rem;
  }

  .col-2 {
    width: 40%;
  }

  .col-8 {
    width: 100%;
  }
}
